name: 'Cancel Matrix'
description: 'Cancels a matrix by setting the provided flag to true'
inputs:
  GITHUB_TOKEN:
    description: 'Token of the workflow used for authorization'
    required: true
  DEPLOY_PAT:
    description: 'PAT to allow deployments'
  REPO_FULL_NAME:
    descriptoin: 'Full name of the repo (i.e. "REPO_OWNER/REPO_NAME"). Use: github.event.repository.full_name'
    required: true
  WORKFLOW_RUN_ID:
    description: 'ID of the workflow run to be canceled'
    required: true
  CANCEL_FLAG_NAME:
    description: 'Name of the flag to be set that is used to cancel the matrix'
    required: true
    default: 'CANCEL_MATRIX'
runs:
  using: "composite"
  steps:
    - name: Was Not Skipped
      run: |
        PENDING_DATA=$(curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28")
        echo "WAS_NOT_SKIPPED=$(echo "$json_result" | jq -e '.' > /dev/null; echo $?)" >> $GITHUB_ENV
        echo "Was skipped: ${{ env.WAS_NOT_SKIPPED }}"
      shell: bash
    - name: Get Pending
      run: |
        PENDING_DATA=$(curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28")
        echo "PENDING_IDS=$(echo "$PENDING_DATA" | jq -rc 'map(.environment.id)')" >> $GITHUB_ENV
      shell: bash
    - name: Trigger all pending
      run: |
        curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -d '{"environment_ids": ${{ env.PENDING_IDS }}, "state": "approved", "comment": "Kaesekuchen!"}'
      shell: bash

