name: 'Cancel Matrix'
description: 'Cancels a matrix by setting the provided flag to true'
inputs:
  GITHUB_TOKEN:
    description: 'Token of the workflow used for authorization'
    required: true
  DEPLOY_PAT:
    description: 'PAT to allow deployments'
  REPO_FULL_NAME:
    descriptoin: 'Full name of the repo (i.e. "REPO_OWNER/REPO_NAME"). Use: github.event.repository.full_name'
    required: true
  WORKFLOW_RUN_ID:
    description: 'ID of the workflow run to be canceled'
    required: true
  SKIP_WITH_STATE:
      description: "Which state the pending deployments should be deployed when skipped. Either 'rejected' or 'approved'."
      required: true
      default: 'rejected'
  SKIP_ENV_NAME:
    description: 'Name of the flag to be set that is used to cancel the matrix'
    required: true
    default: 'skip'
outputs:
  WAS_SKIPPED:
    description: If the environment provided via 'SKIP_ENV_NAME' is still pending. This means the job has not been skipped.
    value: ${{ steps.get-pending.outputs.WAS_SKIPPED }}
runs:
  using: "composite"
  steps:
    - name: Get Pending
      id: get-pending
      run: |
        pending_data=$(curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28")
        pending_skip=$(echo "$pending_data" | jq '.[] | select(.environment.name == "${{ inputs.SKIP_ENV_NAME }}")')
        echo "PENDING_IDS=$(echo "$pending_data" | jq -rc 'map(.environment.id)')" >> $GITHUB_ENV
        echo "PENDING_NAMES=$(echo "$pending_data" | jq -rc 'map(.environment.name)')" >> $GITHUB_ENV
        echo "WAS_SKIPPED=$( [ -n "$pending_skip" ] && echo false || echo true )" >> $GITHUB_ENV
        echo "WAS_SKIPPED=$( [ -n "$pending_skip" ] && echo false || echo true )" >> $GITHUB_OUTPUT
      shell: bash
    - name: Trigger all pending
      if: ${{ env.WAS_SKIPPED == 'true' }}
      run: |
        curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -d '{"environment_ids": ${{ env.PENDING_IDS }}, "state": "${{ inputs.SKIP_WITH_STATE }}", "comment": "Skipped."}'
      shell: bash