name: 'Cancel Matrix'
description: 'Cancels a matrix by setting the provided flag to true'
inputs:
  GITHUB_TOKEN:
    description: 'Token of the workflow used for authorization'
    required: true
  DEPLOY_PAT:
    description: 'PAT to allow deployments'
  REPO_FULL_NAME:
    descriptoin: 'Full name of the repo (i.e. "REPO_OWNER/REPO_NAME"). Use: github.event.repository.full_name'
    required: true
  WORKFLOW_RUN_ID:
    description: 'ID of the workflow run to be canceled'
    required: true
  CANCEL_FLAG_NAME:
    description: 'Name of the flag to be set that is used to cancel the matrix'
    required: true
    default: 'CANCEL_MATRIX'
runs:
  using: "composite"
  steps:
    - name: Set Flag
      run: |
        curl -X POST "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/envs" \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: Bearer ${{ inputs.GITHUB_TOKEN }}" \
          -d '{"${{ inputs.CANCEL_FLAG_NAME }}": "true"}'
      shell: bash
    - name: Trigger all pending
      run: |
        curl -L https://api.github.com/repos/${{ inputs.REPO_FULL_NAME }}/actions/runs/${{ inputs.WORKFLOW_RUN_ID }}/pending_deployments \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ inputs.DEPLOY_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -d '{"environment_ids": [2364991168, 2364989533, 2364986959, 2364985134, 2332175704], "state": "approved", "comment": "Kaesekuchen!"}'
      shell: bash

      # 2364991168, 2364989533, 2364986959, 2364985134, 2332175704