name: api-template

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: Deploy to environment
        required: true
        options:
          - '01'
          - '02'
          - '03'
          - staging
      PERFORM_TESTS:
        type: boolean
        description: If the (unit) tests should be performed or not
        required: false
        default: true
      FORCE_IMAGE_REBUILD:
        type: boolean
        description: Force an image rebuild
        required: false
        default: true
  pull_request:
    paths:
      - ".github/workflows/template.yml"
      - "template/**"
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/template.yml"
      - "template/**"

jobs:
  unit-tests:
    if: github.event_name == 'pull_request' || inputs.PERFORM_TESTS == true
    runs-on: ubuntu-latest
    steps:
      - run: echo "Performing Unit-Tests '${{ github.workflow }}-${{ github.ref }}'"
  
  preparation-and-setuo:
    name: Preparations and Setup
    if: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Preparations and Setup for workflow template"

  # For Deploying
  build-push-deploy:
    name: Build push and deploy the 'kirschlolli'-image
    if: ${{ inputs.ENVIRONMENT }}
    uses: ./.github/workflows/build-push-deploy.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      PROJECT_ID: '<my-gcp-project-id>'
    secrets: inherit # Pass secrets (i.e. SUDO_CONTAINER_PASSWORD)


  # For Merges
  build-push-deploy-matrix:
    name: Build push and deploy the 'kirschlolli'-image
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/build-push-deploy-matrix.yml
    with:
      PROJECT_ID: '<my-gcp-project-id>'
    # Concurrency for each branch, might also add a "-dev-XY-" but this one will only on main-merges anyway
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    secrets: inherit # Pass secrets (i.e. SUDO_CONTAINER_PASSWORD)