name: api-kaesekuchen

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: Deploy to environment
        required: true
        options:
          - dev-01
          - dev-02
          - dev-03
      REBUILD_IMAGE:
        type: boolean
        description: Force an image rebuild
        required: false
        default: true
  pull_request:
    types: [ opened, edited ]
    paths:
      - "kaesekuchen/**"
  push:
    branches: [ "main" ]
    paths:
      - "kaesekuchen/**"

jobs:
  define-variables:
    runs-on: ubuntu-latest
    steps:
      - name: Check event type
        id: step1
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            # Set values based on manual run
            echo "ENVIRONMENT=${{ inputs.ENVIRONMENT }}" >> $GITHUB_OUTPUT
            echo "ANSWER==420" >> $GITHUB_OUTPUT
          else
            # Set values based on merge
            echo "ENVIRONMENT=${{ github.ref == 'refs/heads/master' && 'production' || 'staging' }}" >> $GITHUB_OUTPUT
            echo "ANSWER==42" >> $GITHUB_OUTPUT
          fi

  setup-and-pre-tests:
    needs: define-variables
    runs-on: ubuntu-latest
    steps:
      - run: echo "Doing some setup and test prior to deploying kaesekuchen on $ENVIRONMENT"
  
  build-push-deploy:
    runs-on: ubuntu-latest
    needs: setup-and-pre-tests
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "Build Push Deploy kaesekuchen on ${{ inputs.ENVIRONMENT }}"
  
  regression-test:
    runs-on: ubuntu-latest
    needs: build-push-deploy
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "What have you done?!?!???? Everything is broken"
      - run: exit 1
        continue-on-error: true
      - run: echo "Just kidding:)"
