name: api-kirschlolli

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: Deploy to environment
        required: true
        options:
          - '01'
          - '02'
          - '03'
          - staging
      PERFORM_TESTS:
        type: boolean
        description: If the (unit) tests should be performed or not
        required: false
        default: true
      FORCE_IMAGE_REBUILD:
        type: boolean
        description: Force an image rebuild
        required: false
        default: true
  pull_request:
    types: [ opened, edited ]
    paths:
      - ".github/workflows/api-kirschlolli.yml"
      - "kirschlolli/**"
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/api-kirschlolli.yml"
      - "kirschlolli/**"

jobs:
  unit-tests:
    if: |
      github.event_name == 'pull_request' ||
      inputs.PERFORM_TESTS == true
    runs-on: ubuntu-latest
    steps:
      - run: echo "Doing unit test and other stuff prior to deploying kirschlolli on ${{ inputs.ENVIRONMENT }}"

  build-push-deploy:
    name: Build push and deploy the 'kirschlolli'-image
    if: ${{ inputs.ENVIRONMENT }}
    uses: ./.github/workflows/build-push-deploy.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      PROJECT_ID: 'kirschlolli-32'
    secrets: inherit # Pass secrets (i.e. SUDO_CONTAINER_PASSWORD)
  
  build-push-deploy-any-env:
    name: Build push and deploy the 'kirschlolli'-image
    if: ${{ inputs.ENVIRONMENT }}
    uses: ./.github/workflows/build-push-deploy-matrix.yml
    with:
      PROJECT_ID: 'kirschlolli-420'
    secrets: inherit # Pass secrets (i.e. SUDO_CONTAINER_PASSWORD)
