name: api-zuggerwadde

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: Deploy to environment
        required: true
        options:
          - '01'
          - '02'
          - '03'
          - staging
      PERFORM_TESTS:
        type: boolean
        description: If the (unit) tests should be performed or not
        required: false
        default: true
      FORCE_IMAGE_REBUILD:
        type: boolean
        description: Force an image rebuild
        required: false
        default: true
  pull_request:
    types: [ opened, edited ]
    paths:
      - ".github/workflows/api-zuggerwadde.yml"
      - "zuggerwadde/**"
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/api-zuggerwadde.yml"
      - "zuggerwadde/**"

jobs:
  unit-tests:
    #if: |
    #  github.event_name == 'pull_request' ||
    #  inputs.PERFORM_TESTS == true
    runs-on: ubuntu-latest
    environment: dev-03-protected
    steps:
      - run: echo "Doing unit test and other stuff prior to deploying zuggerwadde on ${{ inputs.ENVIRONMENT }}"

  build-push-deploy:
    name: Build push and deploy the 'zuggerwadde'-image
    #if: ${{ inputs.ENVIRONMENT }}
    uses: ./.github/workflows/build-push-deploy.yml
    with:
      ENVIRONMENT: dev-03-protected
      PROJECT_ID: 'zuggerwadde-32'
    secrets: inherit # Pass secrets (i.e. SUDO_CONTAINER_PASSWORD)

  cancel-pending:
    needs: build-push-deploy
    uses: ./.github/workflows/cancel-superseded-workflows.yml
    secrets: inherit
