name: api-kirschlolli

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        type: choice
        description: Deploy to environment
        required: true
        options:
          - '01'
          - '02'
          - '03'
          - staging
      PERFORM_TESTS:
        type: boolean
        description: If the (unit) tests should be performed or not
        required: false
        default: true
      FORCE_IMAGE_REBUILD:
        type: boolean
        description: Force an image rebuild
        required: false
        default: true
  pull_request:
    types: [ opened, edited ]
    paths:
      - ".github/workflows/api-kirschlolli.yml"
      - "kirschlolli/**"
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/api-kirschlolli.yml"
      - "kirschlolli/**"

jobs:
  unit-tests:
    if: |
      github.event_name == 'pull_request' ||
      inputs.PERFORM_TESTS == true
    runs-on: ubuntu-latest
    steps:
      - run: echo "Doing some setup and test prior to deploying kirschlolli on ${{ inputs.ENVIRONMENT }}"
  
  build-push-deploy-with-env:
    if: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "Rebuilding image ${{ inputs.FORCE_IMAGE_REBUILD }}"
      - run: echo "Build Push Deploy kirschlolli on ${{ inputs.ENVIRONMENT }}"
  
  build-push-deploy-any-env:
    if: |
      github.ref == 'refs/heads/master' ||
      ${{ !inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev-01, dev-02, dev-03]
        project-id: [42]
        include:
          - env: production
            project-id: 420
    environment: ${{ matrix.env }}

    steps:
      - run: echo "Rebuilding image ${{ inputs.FORCE_IMAGE_REBUILD }}"
      - run: echo "Build Push Deploy kirschlolli on ${{ matrix.env }} and project id ${{ matrix.project-id }}"
