on:
  workflow_call:
    inputs:
      PROJECT_ID:
        required: true
        type: string

env:
  CANCEL_MATRIX: false

jobs:
  push-build:
    strategy:
      matrix:
        ENVIRONMENT: ["skip", "dev-01", "dev-02", "dev-03", "staging", "production"] # Need restricted deployments
        PROJECT_ID: ["42"]
      fail-fast: true
    name: Build push and deploy
    runs-on: ubuntu-latest
    environment: ${{ startsWith(matrix.ENVIRONMENT, 'dev-') && format('{0}-protected', matrix.ENVIRONMENT) || matrix.ENVIRONMENT }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check Skip
        if: ${{ matrix.ENVIRONMENT == 'skip' }}
        uses: ./.github/workflows/composite/cancel-matrix
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOY_PAT: ${{ secrets.WF_PAT }}
          REPO_FULL_NAME: ${{ github.repository }}
          WORKFLOW_RUN_ID: ${{ github.run_id }}
          CANCEL_FLAG_NAME: CANCEL_MATRIX
      - name: Build Push
        if: ${{ matrix.ENVIRONMENT != 'skip' && ! env.CANCEL_MATRIX }}
        run: echo "Build and push stuff ${{ matrix.PROJECT_ID }}"
        
  deploy-gke:
    needs: push-build
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo "Deploy by ${{ github.actor }}"