on:
  workflow_call:
    inputs:
      PROJECT_ID:
        required: true
        type: string

jobs:
  push-build:
    strategy:
      matrix:
        ENVIRONMENT: ["skip", "dev-01", "dev-02", "dev-03", "staging", "production"] # Need restricted deployments
        PROJECT_ID: ["42"]
    name: Build push and deploy
    runs-on: ubuntu-latest
    environment: ${{ startsWith(matrix.ENVIRONMENT, 'dev-') && format('{0}-protected', matrix.ENVIRONMENT) || matrix.ENVIRONMENT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check Skip
        id: check-skip
        uses: ./.github/workflows/composite/cancel-matrix
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOY_PAT: ${{ secrets.WF_PAT }}
          REPO_FULL_NAME: ${{ github.repository }}
          WORKFLOW_RUN_ID: ${{ github.run_id }}
          SKIP_ENV_NAME: "skip"
      - name: Build Push
        if: ${{ steps.check-skip.outputs.WAS_SKIPPED != 'true' }}
        run: echo "Build and push stuff ${{ matrix.PROJECT_ID }}"
      - name: Deploy
        if: ${{ steps.check-skip.outputs.WAS_SKIPPED != 'true' }}
        run: echo "Deploy by ${{ github.actor }}"
      - name: Approve Skip
        if: ${{ always() }}
        run: echo "2222222Make skipping succeed"
  
  approve-skip:
    if: ${{ failure() }}
    name: Build push and deploy
    runs-on: ubuntu-latest
    steps:
    - name: Approve Skip
      if: ${{ cancelled() }}
      run: echo "Make skipping succeed"
