on:
  workflow_call:
    inputs:
      PROJECT_ID:
        description: "The gcp project id"
        required: true
        type: string
      SKIP_WITH_STATE:
        description: "Which state the pending deployments should be deployed when skipped. Either 'rejected' or 'approved'."
        required: true
        default: 'rejected'
        type: string
      

jobs:
  push-build:
    strategy:
      matrix:
        ENVIRONMENT: ["skip", "dev-01", "dev-02", "dev-03", "staging", "production"] # Need restricted deployments
        PROJECT_ID: ["42"]
    name: Build push and deploy
    runs-on: ubuntu-latest
    environment: ${{ startsWith(matrix.ENVIRONMENT, 'dev-') && format('{0}-protected', matrix.ENVIRONMENT) || matrix.ENVIRONMENT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check Skip
        id: check-skip
        continue-on-error: true
        uses: ./.github/workflows/composite/cancel-matrix
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOY_PAT: ${{ secrets.WF_PAT }}
          REPO_FULL_NAME: ${{ github.repository }}
          WORKFLOW_RUN_ID: ${{ github.run_id }}
          SKIP_WITH_STATE: "rejected"
          SKIP_ENV_NAME: "skip"
      - name: Build Push
        if: ${{ steps.check-skip.outputs.WAS_SKIPPED != 'true' }}
        run: echo "Build and push stuff ${{ matrix.PROJECT_ID }}"
      - name: Deploy
        if: ${{ steps.check-skip.outputs.WAS_SKIPPED != 'true' }}
        run: echo "Deploy by ${{ github.actor }}"