name: Critical CSS - Webhook

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - critical-css

jobs:
  print-instructions:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
        - run: |
            echo "You ran the webhook via the workflow-dispatch, but it is meant to be called via webhook."
            echo "So let me tell you how to do that: \n"
            echo "You will need to create a PAT (new) with write access to this repos Contents."
            echo "Then use cURL to trigger the webhook like this:"
            echo "curl -X POST https://api.github.com/repos/${{ github.action_repository }}/dispatches \ "
            echo "    -H 'Accept: application/vnd.github+json' \ "
            echo "    -H 'Authorization: Bearer <PAT GOES HERE>' \ "
            echo "    -d '{"event_type": "critical-css"}'""


  build-critical-css:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building critical css after receiving the webhook from argo"