on:
  workflow_dispatch:
    inputs:
      SKIP:
        description: "Optional value for overriding"
        required: false
        type: boolean

jobs:
  test:
    strategy:
      matrix:
        x: ['y']
    uses: ./.github/workflows/reusable-wf.yml
    with:
      SKIP: ${{ !inputs.SKIP }}
  skipedibap:
    name: skipedibap
    needs: test
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && !failure() && needs.test.result == 'skipped' }}
    steps:
      - name: "x"
        run: echo "${{ needs.test.result }}"
