on:
  workflow_dispatch:
    inputs:
      SKIP:
        description: "Optional value for overriding"
        required: false
        type: boolean
      TEST_SUITE:
        type: string
        required: true
        description: 'Which test suite is executed. Relects the folder structure in "cypress/e2e/..."'

jobs:
  test:
    strategy:
      matrix:
        x: ['y']
    uses: ./.github/workflows/reusable-wf.yml
    with:
      SKIP: ${{ !inputs.SKIP }}
  skipedibap:
    name: skipedibap
    needs: test
    runs-on: ubuntu-latest
    if: ${{ success() }}
    steps:
      - name: "x"
        run: echo "${{ needs.test.result }}"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read secrets and prepare test system .env
        run: |
          while read -rd $'' line
          do
            export "$line"
            echo "$line"
          done < <(jq -r <<<"$ALL_SECRETS" \
            'to_entries|map("\(.key)=\(.value)\u0000")[]')

          envsubst < .env.template > .env
        env:
          ALL_SECRETS: "${{ toJson(secrets) }}"
      - name: Create test suite glob
        id: generate-test-suite-glob
        run: |
          if [[ "${{ inputs.TEST_SUITE }}" =~ ^C[1-9][0-9]*$ ]] ; then
            # Execute a specific test number
            echo "TEST_SUITE_GLOB=cypress/e2e/**/${{ inputs.TEST_SUITE }}_*.cy.js" >> "$GITHUB_OUTPUT"
          else
            # Execute all files with a path
            echo "TEST_SUITE_GLOB=cypress/e2e/${{ inputs.TEST_SUITE }}**.cy.js"
          fi
      - name: verify
        run: echo $TEST_SUITE_GLOB
